{{#partial "content"}}
    <div class="">
    <div class ="success">
        <h1>Success</h1>
        <p>Your Squad post has been saved{{id}}.</p>
        <p><a href="/squad/details/{{id}}">View your Squad</a></p>
    </div>
    </div>
{{/partial}}
{{>layout.hbs}}