{{#partial "content"}}
    <div class="">
    <div class ="success">
        <h1>Success</h1>
        <p>Your Hero post has been saved.</p>
        <p><a href="/heroes">View your Heroes</a></p>
    </div>
    </div>
{{/partial}}
{{>layout.hbs}}