.home-header>h1{
text-align:center;
font-family: 'Times New Roman', Times, serif;
margin-top:20px;
color:white;
font-size: 3em;
}
.homeland{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHYPVdYCYZIA-MIJqgOMEvIWklQ-dwv0XuPcDMoLsRXO_e-dTXig);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100vw;

}
#home{
    background-color: blue;
    color:black;
    margin-left: 20%;
}
#header{
    background-color: blue;
    color:black;
    margin-left: 20%;
}
.form1{
    padding-left: 20%;
    margin-top:25%;
    background-color: rgba(rgb(255, 255, 255,0.5))
}
.form1{
    padding-left: 20%;
    margin-top:25%;
    background-color: rgba(rgb(247, 242, 242,0.4))
}
/* .content{
    background-color: brown;
} */