{{#partial "content"}}
    <div class ="home-header">
        <h1>Welcome to Our Hero-Squad Website.</h1>

    </div>

    <div class="button-home">
        <a href="/hero" class="btn btn-half">Hero</a>
        <a href="/squad" class="btn btn-half">Squad</a>
    </div>
{{/partial}}
{{>layout}}